@import url('https://fonts.googleapis.com/css2?family=Bevan&family=Poppins:wght@300;400;600&display=swap');

.banner-content {
    max-width: 800px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.911); /* Fondo oscuro semitransparente para mejorar la legibilidad */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.534); /* Sombra suave para darle profundidad */
}

/* Estilos para el banner */
.banner {
    position: relative;
    background-size: cover;
    background-position: center;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    height: 100vh; /* Altura completa de la ventana */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 0 20px;
    box-sizing: border-box;
}


.pab1{
    color: #04345c;
}

.pab2{
    color: #EA56AF;
}

.pab3{
    color: #067518;
}

.pab4{
    color: #FFD235;
}

.pab5{
    color: #3488d1;
}

.logo1{
    margin-bottom: 20px;
}


.banner h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    font-family: 'Bevan', sans-serif; /* Cambiado a Bevan */
    letter-spacing: 1px;
    text-transform: uppercase;
}

.motivational-text {
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif; /* Fuente sans-serif para el texto */
    font-style: italic;
    margin-bottom: 30px;
    line-height: 1.8;
    color: #000000;
}

.cta-btn {
    display: inline-block;
    padding: 15px 40px;
    background-color: #083e6b; /* Color verde para el botón */
    border: solid 5px white;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.315); /* Efecto sombra en hover */
}

.cta-btn:hover {
    background-color: #ffffff; /* Cambio de color en el hover (un verde más oscuro) */
    border: solid 5px #083e6b;
    color: #083e6b;
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.315); /* Efecto sombra en hover */
    font-weight: bold;
}

/* Responsividad */
@media (max-width: 768px) {
    .banner h1 {
        font-size: 2.5rem;
    }

    .motivational-text {
        font-size: 1.2rem;
    }

    .cta-btn {
        padding: 12px 30px;
        font-size: 1.1rem;
    }
}
