<div class="dashboard-container">
  <aside class="sidebar">
    <div class="logo">
        <img src="assets/logo.png" alt="Logo" class="mi-logo">
    </div>
    <h2>Centro de administración</h2>
    <p>Bienvenido, Admin</p>
    <nav>
      <ul>
        <li>Gestión de mascotas</li>
        <li>Gestión de administradores</li>
        <li>Gestión de usuarios</li>
      </ul>
    </nav>
    <button class="logout-btn">Cerrar sesión</button>
  </aside>

  <main class="main-content">
    <div class="header">
      <h1>Gestión de mascotas</h1>
      <button class="add-product-btn">Agregar nuevas mascotas</button>
    </div>

    <div class="product-list">
      <div class="product-card">
        <img
          src="https://via.placeholder.com/150"
          alt="Producto"
          class="product-image"
        />
        <div class="product-info">  
          <h3>NOMBRE DE LA MASCOTA</h3>
          <p>DESCRIPCIÓN</p>
          <p> RAZA: </p>
          <p> EDAD: </p>
          <p> PROPIETARIO</p>
          <p> STATUS</p>
        </div>
        <div class="product-actions">
          <button class="btn btn-success edit-btn">Editar</button>
          <button class="btn btn-danger delete-btn">Eliminar</button>
        </div>
      </div>
    </div>
  </main>
</div>
