@import url('https://fonts.googleapis.com/css2?family=Bevan&family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/* Estilos generales para la misi칩n */
.nuestra-mision {
    background-color: #8c54f379;
    padding: 60px 20px;
    text-align: center;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.nuestra-mision h2 {
    font-family: 'Bevan', cursive;
    font-size: 3.9rem;
    color: #ffffff;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.nuestra-mision p {
    font-family: 'Arial', sans-serif;
    font-size: 1.2rem;
    color: #000000;
    background-color: #ffffffd2;
    border-radius: 30px;
    margin-bottom: 40px;
    line-height: 1.6;
    max-width: 900px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

.nuestra-mision h3 {
    font-family: "Figtree", serif;
    font-size: 2.9rem;
    color: #fff;
    margin-bottom: 40px;
    letter-spacing: 2px;
}

/* Estilos para las tarjetas */
.card-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 20rem;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1); /* Sombra m치s suave */
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: transform 0.3s ease;
    background-image: linear-gradient(135deg, #f7f7f7, #ffffff); /* Fondo degradado */
}

.card:hover {
    transform: translateY(-8px); /* Solo hover con translateY */
}

.card-img-top {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-bottom: 3px solid #844bee;
    transition: transform 0.3s ease; /* Para el efecto de zoom */
}

.card-body {
    padding: 20px;
    background-color: #fff; /* Fondo blanco dentro de la tarjeta */
}

.card-text {
    font-family: 'Arial', sans-serif;
    font-size: 1.1rem;
    color: #34495e;
    line-height: 1.5;
    text-align: center; /* Ajustado para centrar el texto */
    text-transform: capitalize;
    font-weight: normal; /* Sin negrita por defecto */
}


/* Efecto de fondo para las tarjetas */
.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1); /* Fondo oscuro leve para el contorno */
    z-index: -1;
    transition: background 0.3s ease;
}

.card:hover::before {
    background: rgba(0, 0, 0, 0.2); /* Fondo m치s oscuro cuando se pasa el rat칩n */
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
        margin-bottom: 20px;
    }
}