/* Nuestra Misión */
.nuestra-mision {
    background-color: #f4f4f9;
    padding: 50px 20px;
    text-align: center;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-light);
    margin: 0 auto;
    max-width: 1200px;
}

.nuestra-mision h2 {
    font-size: 2.8rem;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.nuestra-mision p {
    font-size: 1.2rem;
    color: var(--secondary-color);
    margin-bottom: 30px;
    line-height: 1.6;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.nuestra-mision h3 {
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 30px;
}

/* Tarjetas */
.card-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 18rem;
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-light);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: var(--shadow-medium);
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 2px solid var(--primary-color);
}

.card-body {
    padding: 15px;
}

.card-text {
    font-size: 1rem;
    color: var(--secondary-color);
    line-height: 1.5;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
        margin-bottom: 20px;
    }
}
