
<h2 class="text-center text-uppercase">Bienvenido ADMINISTRADOR de Furry Tails</h2>

<main class="container mt-5 border border-black rounded-3 my-5">
    <h2>Usuarios Registrados</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Imagen</th>
                <th scope="col">edad</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody class="table-group-divider" id="miTabla">
            @for (producto of allMascotas; track $index){
            <tr>
                <td>{{allMascotas.nombre}}</td>
                <td class="imgAdmin"><img src="{{producto.imagen}}" alt=""></td>
                <td>${{nombre}}</td>
                <td class="acciones">
                    <button type="button" class="btn btn-info mx-3" (click)="identificarId(allmascota._id)">
                        <i class="bi bi-pencil-square"></i>
                        Editar
                    </button>

                    <button type="button" class="btn btn-danger" (click)="borrarProducto(producto._id)">
                        <i class="bi bi-trash"></i>
                        Eliminar
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
</main>

<div class="container my-5">
    <button type="button" class="btn btn-info" (click)="toggleDiv()">
        <i class="bi bi-plus-square"></i>
        Agregar un nuevo producto
    </button>
</div>



<!-- <h3>MOSTRAR COMPONENTE</h3>
<div>
    @for (producto of allProducts; track $index){
    <li>{{producto.nombre}}/li>
    <li>{{producto.imagen}}/li>
    <li>{{producto.precio}}/li>
    <li>{{producto._id}}/li>
        <button (click)="borrarProducto(producto._id)">Borrar</button>
        <button (click)="identificarId(producto._id)">Modificar</button>
        }
</div> -->



<div class="container">

    @if(showDiv){
    <h3>{{ editMode ? 'Modificar Producto' : 'Crear Producto' }}</h3>
    <form class="py-5 col-lg-6">
        <div class="mb-3">
            <label for="inputName" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="nombre" [(ngModel)]="nombre" />
        </div>
        <div class="mb-3">
            <label for="inputImagen" class="form-label">Imagen</label>
            <input type="text" class="form-control" name="imagen" [(ngModel)]="imagen" />
        </div>
        <div class="mb-3">
            <label for="inputPrecio" class="form-label">Precio</label>
            <input type="number" class="form-control" name="precio" [(ngModel)]="precio" />
        </div>

        <button (click)="editMode ? modificarProducto() : crearDatos()" type="button"
            class="btn btn-primary bg-my-color col-12">
            {{ editMode ? 'Modificar Producto' : 'Crear Producto' }}
        </button>
        <button (click)="toggleDiv()" type="button" class="btn btn-danger bg-my-color col-12 mt-3">
            Cerrar
        </button>
    </form>
    }
</div>

<router-outlet></router-outlet>