<app-nav-bar></app-nav-bar>

<div class="gallery-container">
    <!-- Imagen como título -->
    <div class="gallery-title">
      <img src="assets/title-image.jpg" alt="Gallery Title" class="img-fluid" />
    </div>
  
    <!-- Tabla de imágenes -->
    <div class="row">
      <div
        class="col-12 col-md-4 mb-3"
        *ngFor="let image of images; let i = index"
      >
        <img
          [src]="image.src"
          [alt]="image.alt"
          class="img-thumbnail img-clickable"
          (click)="openModal(image)"
          style="cursor: pointer;"
        />
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  <div
    class="modal fade"
    id="imageModal"
    tabindex="-1"
    aria-labelledby="imageModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="imageModalLabel">{{ selectedImage?.alt }}</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <img
            [src]="selectedImage?.src"
            [alt]="selectedImage?.alt"
            class="img-fluid"
          />
          <p class="mt-3">{{ selectedImage?.description }}</p>
        </div>
        <div class="modal-footer">
          <!-- Botones en el modal -->
          <button type="button" class="btn btn-primary" (click)="handleAction('Action 1')">Action 1</button>
          <button type="button" class="btn btn-secondary" (click)="handleAction('Action 2')">Action 2</button>
          <button type="button" class="btn btn-danger" (click)="handleAction('Action 3')">Action 3</button>
        </div>
      </div>
    </div>
  </div>
  

<app-footer></app-footer>