<app-nav-bar></app-nav-bar>
<section class="intro">
  <h2>¡Bienvenido a Furry Tails!</h2>
  <p>
      En Furry Tails, nos dedicamos a conectar mascotas en busca de un hogar amoroso con familias que desean
      darles una segunda oportunidad. Explora nuestras opciones de adopción y encuentra el compañero perfecto
      para ti.
  </p>
</section>
<!-- <app-pet-card></app-pet-card> -->
<div class="container mt-4">
  <div class="row">
    <div class="col-4" *ngFor="let img of images">
      <img
        [src]="img.src"
        class="img-fluid img-thumbnail"
        (click)="openModal(img)"
        alt="Imagen"
        style="cursor: pointer"
      />
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  tabindex="-1"
  id="imageModal"
  aria-labelledby="modalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">{{ modalData.title }}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          >
        </button>
      </div>
      <div class="modal-body">
        <p>{{ modalData.content }}</p>
        <div>
          <button class="btn-primary" type="submit">Adóptame</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
