.modal-header.bg-light {
    background-color: #b80d1c;
    /* Rosa claro */
}

.modal-title.text-center {
    width: 100%;
    /* Asegura que el título ocupe todo el ancho */
    text-align: center;
    /* Centra el texto */
}

.section-header .msj{
    text-align: center;
    width: 73%;
    margin: 0 auto;
    font-size: 20px;
    margin-bottom: 10%;
}
.section-header h2 {
    font-size: 24px;
    text-align: center;
    width: 73%;
    margin: 0 auto;
    margin-top: 5%;
}
