<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-scroll contenedor-navBar">
    <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand d-flex align-items-center" routerLink="/">
            <img src="assets/logo.png" alt="Logo" width="100" height="70" class="mi-logo">
            <img src="assets/logo1.png" alt="logo1" width="100" height="70" class="perrito">

        </a>

        <!-- Botón para colapsar el menú en pantallas pequeñas -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menú de navegación -->
        <div class="collapse navbar-collapse" id="navbar-nav">

            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link active  estilo-nav" aria-current="page" routerLink="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link estilo-nav" routerLink="/paws">Paws</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link estilo-nav" routerLink="/sobre-nosotros">Sobre Nosotros</a>
                </li>
                <li class="nav-item">
                    <!-- <a class="nav-link" routerLink="/contactanos">Contáctanos</a> -->
                </li>
            </ul>
        </div>

        <!-- Botones de Login y Usuario -->
        <div class="d-flex boton ">
            <a routerLink="/login">
                <button class="btn btn-success me-2 botoncito">Login</button>
            </a>
        </div>
    </div>
</nav>
