<app-nav-bar></app-nav-bar>

<!-- Sección del Carrusel -->
<section aria-label="Carrusel de imágenes destacadas">
    <app-carousel></app-carousel>
</section>

<main>

    <!-- Nuestra Misión -->
    <section class="nuestra-mision" aria-labelledby="nuestra-mision-title">
        <h2 id="nuestra-mision-title">🐶 Nuestra misión 🐱</h2>
        <p>Nuestra misión es clara y poderosa: transformar vidas. Trabajamos en estrecha colaboración con refugios y hogares de acogida para garantizar que cada animal reciba el cuidado y la atención que merece antes de unirse a una familia amorosa.</p>

        <h3>Lo que ofrecemos:</h3>
        <ul>
            <li><strong>Adopciones responsables:</strong> Creamos conexiones únicas entre mascotas y adoptantes, asegurando que ambos formen un vínculo perfecto.</li>
            <li><strong>Apoyo personalizado:</strong> Te acompañamos en cada paso del proceso para facilitar la adaptación de tu nuevo amigo peludo.</li>
            <li><strong>Historias inspiradoras:</strong> Conoce relatos conmovedores de adopciones exitosas que llenan de esperanza y alegría.</li>
        </ul>

        <h2>📖 ¿Cómo funciona?</h2>
        <ul>
            <li><strong>Explora nuestro catálogo:</strong> Descubre a las mascotas disponibles y conoce sus encantadoras historias.</li>
            <li><strong>Elige a tu compañero ideal:</strong> Aprende sobre sus personalidades, necesidades y encuentra el match perfecto.</li>
            <li><strong>Adopta con confianza:</strong> Completa el formulario y nuestro equipo te contactará para guiarte en el proceso.</li>
        </ul>

        <button class="cta-btn">¡Adopta ahora!</button>
    </section>

    <!-- Testimonios -->
    <section class="testimonios" aria-labelledby="testimonios-title">
        <h2 id="testimonios-title">🌟 Historias de Adopción 🌟</h2>
        <blockquote>
            "Adoptamos a Max hace un año y ha sido una de las mejores decisiones de nuestra vida. Es un perro lleno de amor y energía, ¡no podemos imaginarnos sin él!" – Familia Rodríguez.
        </blockquote>
        <button class="cta-btn">¡Lee más historias!</button>
    </section>

    <!-- Mensaje final -->
    <section class="mensaje-final">
        <blockquote>
            "Adoptar un amigo peludo es un acto de amor, compasión y generosidad. ¡Únete a nuestra causa y da una segunda oportunidad a un ser maravilloso!".
        </blockquote>
        <button class="cta-btn">Haz tu aporte</button>
    </section>

    <!-- Contacto -->
    <section class="contacto">
        <p>Si tienes preguntas, dudas o simplemente quieres conocer más sobre nuestras mascotas, ¡estamos aquí para ayudarte! No dudes en ponerte en contacto con nosotros.</p>
        <button class="cta-btn">Contáctanos</button>
    </section>

    <app-cards></app-cards>
</main>

<app-footer></app-footer>