<header class="header">
  <nav class="container-navBar">
    <a href="/index.html" class="logo-navBar">
      <img src="/sobreNosotros/assetssobreNosotros/logo.png" alt="Logo Furry Paws" id="logoPagina" />
    </a>
    <ul class="navBar-list">
      <li><a href="/paws/paws.html">PAWS</a></li>
      <li><a href="/sobreNosotros/sobreNosotros.html">SOBRE NOSOTROS</a></li>
      <li><a href="/contactanos/contactanos.html">CONTÁCTANOS</a></li>
    </ul>
    <div class="button-login">
      <a href="/login/login.html" id="login">LOGIN</a>
    </div>
  </nav>

  <section class="banner">
    <section class="contenido-banner">
      <h1 class="title-banner">¡Sobre nosotros!</h1>
      <p class="sobreNosotrosTexto">
        En Furry Tails, nos dedicamos a conectar mascotas en busca de un hogar amoroso con familias que desean darles una segunda oportunidad.
      </p>
      <img class="imgbanner" src="/sobreNosotros/assetssobreNosotros/imagenSobreNosotros.png" alt="Imagen Banner" />
      <div class="boton-container">
        <button class="boton-saberMas">
          <a href="#sobreNosotros">Saber Más</a>
        </button>
      </div>
    </section>
  </section>
</header>

<main class="main">
  <section id="sobreNosotros">
    <div class="contenido">
      <h2 class="titulo">¡Conectando Corazones en Furry Tails!</h2>
      <div class="contenido-flex">
        <img class="imagenSobreNosotros" src="./assetssobreNosotros/animalitosBanner.png" alt="Adopta una mascota" />
        <p>
          En <strong>Furry Tails</strong>, nuestra pasión es unir mascotas necesitadas con familias amorosas. Cada día,
          nuestro comprometido equipo se esfuerza por rescatar, cuidar y encontrar un hogar seguro para aquellos animales
          que han sufrido abandono o maltrato. Creemos firmemente que cada ser vivo merece una segunda oportunidad y un
          refugio donde sentirse querido. <br /><br />
          Desde nuestros humildes comienzos, hemos transformado la vida de cientos de peluditos, ayudándoles a encontrar su nuevo hogar y su lugar en el mundo.
          <br /><br />
          Nuestra misión no se detiene aquí. Nos dedicamos a promover la adopción responsable y educar sobre la importancia
          del cuidado y bienestar de los animales. Además, ofrecemos recursos valiosos para nuevos dueños, campañas de
          concienciación y jornadas de esterilización. <br /><br />
          ¡Únete a nuestra misión y sé parte del cambio! Ayuda a transformar la vida de una mascota hoy mismo.
        </p>
      </div>
      <button class="boton-adoptar">
        <a href="/paws/paws.html"> ¡Adopta una mascota y cambia una vida! </a>
      </button>
    </div>
  </section>

  <section class="founders-section">
    <h2 class="titulo-Fundadores">Conoce Nuestros Fundadores</h2>
    <div class="founders-container">
      <div class="founder-card">
        <img src="./assetssobreNosotros/ednaimagen.jpg" alt="Edna" class="founder-photo" />
        <h3>Edna Rocio Rodriguez</h3>
        <p>
          "¡Hola! Soy Edna, una persona que ama profundamente los animales y su bienestar. He creado este sitio web con
          el objetivo de ayudar a que más mascotas encuentren un hogar lleno de amor. A través de la adopción, quiero
          contribuir a mejorar la vida de estos increíbles compañeros y facilitar el proceso para quienes desean darle
          una segunda oportunidad a una mascota. ¡Juntos podemos hacer una gran diferencia!"
        </p>
      </div>
      <div class="founder-card">
        <img src="./assetssobreNosotros/Jonathan.jpg" alt="Jonathan" class="founder-photo" />
        <h3>Jonathan Jimenez</h3>
        <p>
          "¡Hola! Soy Jonathan, un apasionado defensor del bienestar animal con años de experiencia trabajando en
          rescate y protección de mascotas. Desde temprana edad, desarrollé un profundo amor por los animales y una
          sensibilidad especial hacia aquellos que han sido abandonados o maltratados. Motivado por su deseo de hacer una
          diferencia, he ayudado a crear este website para facilitar la conexión entre refugios, rescatistas
          independientes y familias dispuestas a ofrecer un hogar amoroso."
        </p>
      </div>
    </div>
  </section>
</main>
