html, body {
  height: 100%;
  margin: 0;
}

.vh-100 {
  min-height: 100vh;
}

.text-center {
  text-align: center;
}

.display-1 {
  font-size: 6rem;
}

.fs-3 {
  font-size: 1.75rem;
}

.lead {
  font-size: 1.25rem;
}

.btn-primary {
  padding: 10px 20px;
  font-size: 1rem;
}
