<section class="testimonios" aria-labelledby="testimonios-title">
    <h2 id="testimonios-title">🌟 Historias de Adopción 🌟</h2>
    
    <button class="cta-btn">¡Lee más historias!</button>
</section>


<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Maria Y Max</h5>
        <p class="card-text">
            "Adoptamos a Max hace un año y ha sido una de las mejores decisiones de nuestra vida. Es un perro lleno de
            amor y energía, ¡no podemos imaginarnos sin él!" – Familia Rodríguez.
        </p>
        <a href="#" class="btn btn-primary">¡Lee más sobre Maria y Max!</a>
    </div>
</div>